- name: Ensure router config present
  template:
    src: router.conf.j2
    dest: /opt/mysql/router.conf

- name: Start router container (no local mysqld)
  community.docker.docker_container:
    name: mysql-router
    image: mysql/mysql-router:8.4
    restart_policy: always
    command: "mysqlrouter --config /etc/mysqlrouter/router.conf"
    volumes:
      - /opt/mysql/router.conf:/etc/mysqlrouter/router.conf:ro
    network_mode: host
