metadata_dir = "/var/lib/garage/meta"
data_dir = "/var/lib/garage/data"

db_engine = "lmdb"
metadata_auto_snapshot_interval = "6h"

replication_factor = {{ garage_replication_factor }}
compression_level = 2

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "{{ wg_ip }}:3901"
rpc_secret = "{{ garage_rpc_secret }}"
rpc_public_addr_subnet = "{{ wg_network_cidr }}"

[s3_api]
api_bind_addr = "[::]:3900"
s3_region = "garage"

[s3_web]
bind_addr = "[::]:3902"
root_domain = ".web.garage"

[admin]
api_bind_addr = "[::]:3903"
admin_token = "{{ garage_admin_token }}"
metrics_token = "{{ garage_metrics_token }}"
