[Interface]
Address     = {{ wg_ip }}
ListenPort  = {{ wg_port }}
PrivateKey  = {{ wg_private_key }}
# SaveConfig = true

{% for p in wg_peers %}

[Peer]
PublicKey   = {{ p.public_key }}
AllowedIPs  = {{ (p.allowed_ips | list) | join(", ") }}
{% if p.endpoint is defined %}
Endpoint    = {{ p.endpoint }}
{% endif %}
{% if p.persistent_keepalive is defined %}
PersistentKeepalive = {{ p.persistent_keepalive }}
{% endif %}

{% endfor %}
