services:
  mysql:
    image: {{ pxc_image }}
    container_name: mysql
    restart: unless-stopped
    network_mode: host
    environment:
      - MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
      - XTRABACKUP_PASSWORD={{ xtrabackup_password }}
      - CLUSTER_NAME={{ pxc_cluster_name }}
{% if inventory_hostname != groups['mysql_gr'][0] %}
      - CLUSTER_JOIN={{ pxc_seed_ip }}
{% endif %}
    volumes:
      - percona_data:/var/lib/mysql
      - ./mysql.conf:/etc/percona-xtradb-cluster.conf.d/mysql.cnf:ro
      - ./certs:/opt/mysql/certs:ro
{% if pxc_bootstrap_flag %}
    command: ["--wsrep-new-cluster"]
{% endif %}

volumes:
  percona_data:
