[mysqld]
{% if inventory_hostname != groups['mysql_gr'][0] %}
ssl-ca=/opt/mysql/certs/ca.pem
ssl-cert=/opt/mysql/certs/server-cert.pem
ssl-key=/opt/mysql/certs/server-key.pem
{% endif %}

wsrep_node_address = {{ wg_ip }}
wsrep_sst_receive_address = {{ wg_ip }}:4444
wsrep_provider_options = "gmcast.listen_addr=tcp://{{ wg_ip }}:4567; ist.recv_addr={{ wg_ip }}:4568"

pxc_strict_mode = ENFORCING

bind-address = 0.0.0.0
