services:
  garage:
    image: {{ garage_image }}
    container_name: garage
    restart: always
    network_mode: host
    volumes:
      - garage_meta:/var/lib/garage/meta
      - garage_data:/var/lib/garage/data
      - ./garage.toml:/etc/garage.toml:ro
volumes:
  garage_meta:
  garage_data:
