- hosts: all
  roles:
    - role: base_hardening
    - role: docker_runtime
    - role: wireguard
    - role: traefik

- hosts: mysql_gr
  roles:
    - role: mysql_gr

- hosts: garage_all
  roles:
    - role: garage

- hosts: ushahidi_all
  roles:
    - role: ushahidi
