#cloud-config
package_update: true
packages: [ wireguard, docker.io, docker-compose-plugin, jq, ufw, fail2ban ]
users:
  - name: deployer
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    groups: [sudo, docker]
    shell: /bin/bash
    ssh_import_id:
    lock_passwd: true

runcmd:
  - modprobe wireguard || true
  - systemctl enable --now docker
