- name: Ensure basic packages & updates
  apt:
    update_cache: yes
    name: [ "ufw", "fail2ban", "jq" ]
    state: present

- name: "UFW allow 80/443"
  ufw:
    rule: allow
    port: "{{ item }}"
  loop: [ "80", "443" ]

- name: Allow SSH (OpenSSH)
  ufw:
    rule: allow
    name: OpenSSH

- name: Enable UFW
  ufw:
    state: enabled
    policy: deny
